<div class=" xl:rem-ml-15 bg-four" sw-page="location">
    <div class=" md:px-56">
        <!--============MAIN BODY=========-->
        <main class="w-full min-h-full">

            <!--List of pin boards goes here-->
            <div class=" text-grey-1000 leading-normal">
                <!--Editor -For writing and preparing script goes here-->
                <div class="mt-24 mb-48" sw-search="wrapper">
                    <div class="doping relative mlmr-auto relative">    
                        <div class="input flex-wrap-center  relative mlmr-auto" sw-location="list" sw-search="wrapper" contenteditable="true">
                            <div sw-location="item" class="page bg-three py-48 ft-initial shadow hover:shadow-md  transition-fast-out overflow-hidden"> 
                                <div class="input"  tabindex="1"  sw-location-id="00" contenteditable="true" autofocus="true"><br></div>
                            </div>
                        </div>
                    </div> 
                </div> 

            </div> 

            <!--Footer goes here-->    
        </main>

        <!--============Right side bar=========-->
    </div>
</div>