 <div class="xl:rem-ml-15 bg-four" sw-page="pin-board">
    <div class="md:px-56">
        <!--============MAIN BODY=========-->
        <main class="w-full min-h-full">

            <!--List of pin boards goes here-->
            <div class="text-grey-1000 leading-normal">
                <div class="drag-sort-enable col-12 row mxx-8 full-div" sw-card-option="list">
                    <div class="rem-h15 rem-w15 cursor-pointer m-8 rounded-lg shadow hover:shadow-md transition-fast-out relative bg-yellow"
                         sw-card-option="card" bg-value="bg-yellow">
                        <div class="pt-8 text-grey-500 flex space-between">
                            <div class="px-8 font-semibold input col-10" sw-card-option="title"
                                 contenteditable="true"
                                 data-placeholder="title here"></div>
                            <span class="h-8 w-auto fill-current mx-8 cus-pointer"
                                  sw-card-option="option-menu-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-three-dots size24"
                                     viewBox="0 0 16 16"><path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg>
                            </span>
                        </div>
                        <div class="col text-grey-700 m-8 overflow-y-auto rem-h10 input break-space"
                             sw-card-option="body" contenteditable="true"
                             data-placeholder="content here"></div>
                        <!--Arrow up and Arrow down-->
                        <span class="col text-grey-700 m-8 text-cursive flex end">
                            <!--Down-->
                            <svg class="fill-current size24 cus-pointer" sw-card-option="angle-down-btn"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                    d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
                            <!--Up-->
                            <svg class="fill-current size24 cus-pointer" sw-card-option="angle-up-btn"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                    d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
                        </span>

                        <span class="hide" sw-card-option="card-id"></span>
                        <span class="hide" sw-card-option="vital"></span>

                        <div class="bg-three z-50 menutype1 brd-r20 p-rem1 shadow hide"
                             sw-card-option="option-wrap">
                            <div class="flex space-between py-2 cus-pointer" sw-card-option="rename-option">
                                <svg class="size16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369 14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z"/>
                                </svg>
                                <span class="font-sans-alt">Rename</span>
                            </div>
                            <div class="flex space-between py-2 cus-pointer" sw-card-option="add-option">
                                <svg class="size16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/>
                                </svg>
                                <span class="font-sans-alt">Add Note</span>
                            </div>
                            <div class="flex space-between py-2 cus-pointer" sw-card-option="delete-option">
                                <svg class="size16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/>
                                </svg>
                                <span class="font-sans-alt">Delete</span>
                            </div>
                            <div class="flex space-between py-2 cus-pointer" sw-card-option="color-option">
                                <svg class="size18 bg-yellow rounded-circle" bg-value="bg-yellow"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <span class="font-sans-alt">Color</span>
                            </div>

                            <div class="row py-2 px-8 z-100" sw-card-option="color-wrap">
                                <svg class="size18 bg-blue m-2 rounded-circle cus-pointer"
                                     bg-value="bg-blue"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <svg class="size18 bg-green m-2 rounded-circle cus-pointer"
                                     bg-value="bg-green"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <svg class="size18 bg-pink m-2 rounded-circle cus-pointer"
                                     bg-value="bg-pink"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <svg class="size18 bg-purple m-2 rounded-circle cus-pointer"
                                     bg-value="bg-purple"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <svg class="size18 bg-orange m-2 rounded-circle cus-pointer"
                                     bg-value="bg-orange"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                                <svg class="size18 bg-yellow m-2 rounded-circle cus-pointer"
                                     bg-value="bg-yellow"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>