<div class="xl:rem-ml-15" sw-page="structure">
    <div class="md:px-56">
        <!--============MAIN BODY=========-->
        <main class="w-full min-h-full">
            <!--Body heading-->
            <div class="mb-4 px-16 flex justify-center">
                <div class="font-sans-alt font-semibold tracking-wide fw-300 ft-size25">Structure Guide</div>
            </div>

            <!--Line chart graph -->
            <div class=" text-grey-1000 leading-normal">
                <div class="col-12 col-by54-lg flex space-between p-8 mxx-8 my-24">
                    <!--Drop down selectionitem-->
                   <div class="row mxx-8 c-bgray font-sans-alt font-semibold" sw-select-item="container">
                       <div class="row px-16 p-8 align-self-c bg-lightash brd-r2rm cus-pointer">
                           <div class="leading-tight mx-8" sw-select-item="set">ACT STRUCTURE</div>
                           <div class="fill-current">
                               <svg class="size16 c-black"  viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg"><path d="M7,8a1,1,0,0,1-.71-.29l-6-6A1,1,0,0,1,1.71.29L7,5.59,12.29.29a1,1,0,1,1,1.42,1.42l-6,6A1,1,0,0,1,7,8Z"></path></svg>
                           </div>
                       </div>
                       <!--Drop down menu-->
                       <div class="absolute">
                           <ul id="act-dropdown" class="py-8 px-16 hidden z-50 relative top-35 bg-tp-skyblue" sw-select-item="get">
                               <li class="pt-8 cus-pointer hover:text-nebula-600 leading-normal">1-ACT STRUCTURE</li>
                               <li class="mt-8 cus-pointer hover:text-nebula-600 leading-normal">2-ACT STRUCTURE</li>
                               <li class="mt-8 cus-pointer hover:text-nebula-600 leading-normal">3-ACT STRUCTURE</li>
                               <li class="mt-8 cus-pointer hover:text-nebula-600 leading-normal">4-ACT STRUCTURE</li>
                           </ul>
                       </div>
                   </div>
   
                   <div class="py-4 uppercase ft-size20">
                       <span>Project 1</span>
                   </div>
               </div>

               <!--Graph zone-->
                <div class="col-12 mx-8">
                    <div class="col" sw-graph="wrapper-1"><div sw-graph="item-1" style="height: 200px;"></div></div>
                </div>
            </div>

            <!--Line and pie chart graph-->
            <div class=" text-grey-1000 leading-normal" style="padding-top: 40px;">
                <div class="col-12 flex space-between p-8 mxx-8 my-24">
                    <!--Drop down selectionitem-->
                   <div class="row mxx-8 c-bgray font-sans-alt font-semibold" sw-select-item="container">
                       <div class="row px-16 p-8 align-self-c bg-lightash brd-r2rm cus-pointer">
                           <div class="leading-tight mx-8" sw-select-item="set">PULP FICTION</div>
                           <div class="fill-current">
                               <svg class="size16 c-black"  viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg"><path d="M7,8a1,1,0,0,1-.71-.29l-6-6A1,1,0,0,1,1.71.29L7,5.59,12.29.29a1,1,0,1,1,1.42,1.42l-6,6A1,1,0,0,1,7,8Z"></path></svg>
                           </div>
                       </div>
                       <!--Drop down menu-->
                       <div class="absolute">
                           <ul class="py-8 px-16 hidden z-50 relative top-35 bg-tp-skyblue" sw-select-item="get">
                               <li class="pt-8 cus-pointer hover:text-nebula-600 leading-normal">PULP FICTION</li>
                           </ul>
                       </div>
                   </div>

                   <div class=" py-8 ft-size17">Character Possession</div>
               </div>

               <!--Graph Zone-->
                <div class="col-12 row space-between">
                    <div class="mxx-8" sw-graph="wrapper-2"><div sw-graph="item-2" style="height: 200px;"></div></div>
                    <div class="mxx-8" sw-graph="wrapper-3"><div sw-graph="item-3" style="height: 400px;"></div></div>
                </div>
            </div> 

            <!--Footer goes here-->     
        </main>

        <!--============Right side bar=========-->
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
