<header class="top-0 lg:z-40 z-20 w-full font-sans-alt" sw-header="header3" data-controller="header">
    <div class="flex">
        <!--header logo-->
        <div class="header-logo flex-shrink-0 pt-8 px-40 lg:block hidden lg:w-15 bg-two">
            <a class="block h-24 logo-text-xxl c-white" href="/app-home">
                Scriptovate
            </a>
        </div>

        <!--Navigation Bar-->
        <nav class="header-nav lg:hidden z-30 flex flex-grow justify-between items-center px-16 lg:h-auto h-72" data-header-nav="">
            <div class="flex">
                <button class="mr-4 text-grey-1000 hover:text-grey-1000 fill-current" sw-trigger="open">
                    <div class="flex-center mb-4">
                        <svg class="block h-full size24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
                            <path d="M19,8H1A1,1,0,0,1,1,6H19a1,1,0,0,1,0,2Z"></path>
                            <path d="M19,2H1A1,1,0,0,1,1,0H19a1,1,0,0,1,0,2Z"></path>
                            <path d="M19,14H1a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow-0 flex-shrink-0 text-sm uppercase text-grey-700">Menu</div>
                </button>
            </div>
        </nav>
    </div>
</header>