:root {
    --bg-color: rgb(15, 15, 15);
    --text-color: rgb(183, 183, 183);
    --a-color: rgb(27, 109, 168);
    --a-visited-color: rgb(165, 99, 13);
    --a-hover-color: #acc;
    --input-border-color: rgba(211, 211, 211, 0.2);
    --input-placeholder-color: rgb(103, 103, 103);
    --dialog-bg-color: rgba(36, 36, 36, 0.95);
    --bg-image: linear-gradient(rgb(15, 15, 15), rgb(15, 15, 15));
    --header-color: #00b786;
  }
  
*::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button, div::-webkit-scrollbar {
    width: 13px !important;
    height: 5px !important;
    background-color: var(--bg-color) !important;
    border: none !important;
}
*::-webkit-scrollbar-thumb {
    background: var(--input-border-color) !important;
    border: none !important;
}
*::-webkit-scrollbar-button {
    display: none !important;
}

  html,
  body {
    background: var(--bg-color) !important;
    background-image: var(--bg-image) !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
  }
  img {
    background-color: transparent !important;
  }
  
  html,
  body,
  body
    *:not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not([class*="title"]):not([id*="title"]) {
    color: var(--text-color) !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  *[class*="title"],
  *[id*="title"] {
    color: var(--header-color) !important;
  }
  * {
    box-shadow: none !important;
  }
  html *:not(body):not(span):not(a):not([style*=background-image]):not([style*=background-color]):not([style*=url]):not(figure):not(svg):not(img):not([class*=dialog]):not([id*=dialog]):not([class*=Dialog]):not([id*=Dialog]):not([role*=dialog]):not([class*=sub-items]):not([class=sbsb_b]):not(input):not(select):not(textarea):not(option):not([style*=background-position]):not([class*=menu]):not([class*=logo]):not([class*=Menu]):not([class*=Header]):not([class*=header]):not([role*=menuitem]):not([aria-labelledby*=menu]):not([class*=msg-overlay]):not([class*=dropdown-options]):not([class*=rsdc-dual-month]):not([class*=popup]):not([class*=bui-calendar__content]):not([class*=tooltip]):not(header):not([class*=playControls__control ]):not([class*=playControls__elements]):not([class=now-playing-bar-container]):not([class*=flowtip-flyout-modal]):not([data-tl-id=FeaturedTopNav-FeaturedTopNavFlyout]):not([for*=variant-swatcher-item-]):not([class*=masthead]):not([class*=fbDockChatTabFlyout]):not([role=banner]):not([class*=Footer_graphikFont_2aDKW]):not([class=css-kp204g]):not([class=nova-c-dropdown__body]):not([class*=nova-c-card__body]):not([class*=StoreNavDropdown--fullWidthLifestyleImgs]):not(dd):not([class*=jfk-radiobutton-radio]):not([class*=jfk-checkbox-checkmark]):not([class*=nova-c-modal__body]):not([class*=repeatControl]):not([class*=playbackTimeline__progressBackground]):not([class*=playbackTimeline__progressBar]):not([class=trb_nh_un_ulw]):not([class=trb_nh_uw]):not([class=trb_nh_lw]):not([class=trb_nh_sf]):not([class=uc-corpNav-flyout]):not([class*=js_global-nav-wrap]):not([class=container__3tWa1zW_F3ZU29BQPEWw9Q]):not([class*=ms-bg-color-white]):not([class=h-c-header__bar]):not([class=h-c-header__nested-nav-list]):not([class=glue-c-zippy__content-container]):not([class=fixed-tabs]):not([class*=nova-c-modal__footer--spacing-inherit]):not([class*=bigsearch-area]):not([id=hplogo]):not([class*=user-form-overlay]):not([class*=modal-overlay]):not([class*=rapid-nonanchor-lt]):not([class*=JPdR6b]):not([class*=wds-dropdown-level-2__content]):not([class*=wds-dropdown__content]):not([class*=wds-global-navigation]):not([class*=wds-global-navigation-wrapper]):not(artdeco-typeahead-deprecated-results-container):not([class*=dropdownMenu]):not([class*=search-result]):not([class*=dropdown]):not([class*=Dropdown]):not([role=navigation]):not([class=clearfix]):not([class*=navigation]):not([class*=Navigation]):not([class*=cookie]):not([class*=fixed]):not([class*=drop-]):not([class=variant-swatch]):not([class=level-one-list]):not([class*=sc-hd-ms-panel]):not([class*=sc-hd-ms-hover]):not([class*=sc-hd-panel]):not([class*=sc-hd-ms-full-ver]):not([class*=networknav__hovernav-wrapper]):not([class=icbu-simple-shopping-cart-panel]):not([class*=_icon]):not([class*=hamburger__bar]):not([class*=j-select-opts]):not([class*=J-search-suggest]):not([class=aside-floating]):not([class*=floating-account]):not([class=floating-w]):not([class=desktop-categoryContainer]):not([class=desktop-userActions]):not([class*=gws-flights-widgets-]):not([class*=ReactModal__Content--after-open]):not([class=nav-background-static]):not([role='img'])/*:not([data-grammarly-part=dictionary-card])*/:not([class*="planGrid__planLabel"]):not([class*="nf-loading-spinner"]):not([class=aajZCb]):not([class="sitemap screen-only"]) {
    border-color: rgba(255, 255, 255, 0.1) !important;
    outline: none !important;
    box-shadow: none !important;
    background-image: none !important;
    background: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
  span::after {
    background-color: gray !important;
  }
  /*if set background color -> change to default*/
  nav, *[style*="background-color"] {
    background-color: var(--bg-color) !important;
  }
  svg {
    fill: var(--text-color) !important;
  }
  html {
    color: var(--text-color) !important;
    /* border:none !important; */
    border-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: none !important;
    background-image: none !important;
  }

*::-webkit-scrollbar, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button, div::-webkit-scrollbar {
    width: 13px !important;
    height: 13px !important;
    background-color: rgb(15, 15, 15)!important;
    border: none !important;
}
*::-webkit-scrollbar-thumb { background: rgba(211, 211, 211, 0.2) !important; border: none !important; }
*::-webkit-scrollbar-button { display: none !important; }


/* Custom Dack mode */
.bg-x-gradient-grey-200-grey-200-50-white-100 { 
    background-color: rgb(16 14 14 / 80%)!important;
    background-image: linear-gradient(90deg,rgb(36 35 35 / 91%),rgb(36 35 35 / 91%) 100%,rgb(36 35 35 / 91%) 0)
}
.bg-four{ background-color: rgb(36 35 35 / 91%) !important; color: white!important; }
.bg-three { background-color: rgb(0 0 0 / 93%) !important; color: white !important; }
svg { fill: white !important; }
li  svg { fill: black!important;}
span svg { fill: black!important}
.script-feature-menu0 { background-color: rgb(35 34 34) !important; color: white; }
.doping { color: black!important;}
.c-green { color: white!important;}
