.modal-login {
    color: #636363;
    width: 350px;
    margin: 30px auto;
}

.modal-login .modal-content {
    padding: 60px;
    border-radius: 5px;
    border: none;
    margin-top: 100px;
    width: 104%;
    height: 65%;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 20px;
}

.modal-login .form-group {
    position: relative;
}

.modal-login .main-form{
    height: 160px;
}

.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}

.modal-login .form-control {
    padding-left: 45px;
}

.modal-login .form-control:focus {
    border-color: #00ce81;
}

.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 10px;
}

.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}

.modal-login .close {
    position: absolute;
    top: -45px;
    right: -40px;
    font-size: 12px;
    text-decoration: underline;
}

.modal-login .close a{
    color: #74CEB6;
}

.modal-login .btn {
    background: #ECF1F7;
    border: none;
    color: black;
    line-height: normal;
}

.modal-login .btn-width {
    width: 60%;
    margin-left: 70px;
    font-size: 16px;
    margin-top: 20px;
}

.modal-login .btn:hover, .modal-login .btn:focus {
    background: #74CEB6;
}

.modal-login .modal-footer {
    text-align: center;
    margin: 0 -20px -20px;
    font-size: 13px;
    justify-content: center;
    border-top: none;
}

.modal-login .modal-footer a {
    color: #999;
}

.modal-open .modal {
    background: RGB(116, 206, 182, 0.5);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

li a:hover {
    text-decoration: none;
    opacity: 0.7;
}

li span:hover {
    text-decoration: none;
    opacity: 0.7;
}