<aside class="fixed top-0 flex-shrink-0 leading-tight lg:w-15 lg:flex lg:flex-col  z-30 h-screen w-full hidden bg-two">
    <div class="lg:block h-72 flex-grow-0 flex-shrink-0 hidden"></div>

    <!--Sider Bar-->
    <div class="flex-grow w-inherit h-full" xclass="overflow-y-auto" data-controller="sidebar">
        <div class="h-full">
            <div class="px-40 pt-48 pb-24">
                <!--<button class="block mb-32 text-xs font-semibold leading-none uppercase tracking-wide text-grey-700-opacity-60 focus:outline-none">
                    <span class="c-white" data-action="click-&gt;sidebar#toggleSubCategories" data-target="sidebar.expand">Expand all</span>
                    <span class="hidden c-white" data-action="click-&gt;sidebar#toggleSubCategories" data-target="sidebar.collapse">Collapse all</span>
                </button>-->

                <ul>
                    <li class="mt-24">
                        <a class="flex items-center hover:text-nebula-600 text-grey-1100" data-active="false"
                           href="/client-home">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 17">
                                        <path d="M14.81,5.71l-7-5.6a.48.48,0,0,0-.62,0l-7,5.6A.49.49,0,0,0,0,6.1v8.8A2.08,2.08,0,0,0,2.06,17H12.94A2.08,2.08,0,0,0,15,14.9V6.1A.49.49,0,0,0,14.81,5.71ZM9.33,16H5.67V9H9.33ZM14,14.9A1.08,1.08,0,0,1,12.94,16H10.33V8.5a.5.5,0,0,0-.5-.5H5.17a.5.5,0,0,0-.5.5V16H2.06A1.08,1.08,0,0,1,1,14.9V6.34l6.5-5.2L14,6.34Z"></path>
                                    </svg>
                                </span>
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="mt-24">
                        <a class="flex items-center hover:text-nebula-600 text-grey-1100" data-active="false"
                           href="/glossary">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path
                                            d="M10.5,0A10.5,10.5,0,1,0,21,10.5,10.51,10.51,0,0,0,10.5,0Zm0,20A9.5,9.5,0,1,1,20,10.5,9.51,9.51,0,0,1,10.5,20Z"></path><path
                                            d="M11.58,5.19A3.51,3.51,0,0,0,7.12,7.33a.48.48,0,0,0,0,.39A.49.49,0,0,0,7.42,8a.48.48,0,0,0,.39,0,.49.49,0,0,0,.25-.28A2.5,2.5,0,0,1,10.42,6a2.37,2.37,0,0,1,.83.14A2.5,2.5,0,0,1,12.92,8.5c0,1.61-2.63,2.52-2.66,2.52a.51.51,0,0,0-.31.64.5.5,0,0,0,.63.31c.34-.11,3.34-1.17,3.34-3.47A3.53,3.53,0,0,0,11.58,5.19Z"></path><path
                                            d="M10.84,15.12a.57.57,0,0,0-.7,0,.51.51,0,0,0-.09.16.42.42,0,0,0-.05.2.52.52,0,0,0,.14.36.55.55,0,0,0,.72,0,1.28,1.28,0,0,0,.1-.17.47.47,0,0,0,0-.38A.76.76,0,0,0,10.84,15.12Z"></path></svg>
                                </span>
                                Glossary
                            </span>
                        </a>
                    </li>

                    <li class="mt-24" data-action="click-&gt;sidebar-item#toggle" data-controller="sidebar-item">
                        <a class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100" href="/upgrade">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 21.08"><path
                                            d="M18.73,5.4a.44.44,0,0,0-.07-.19.46.46,0,0,0-.15-.16,2.49,2.49,0,0,0-.76-.72l-7-4a2.53,2.53,0,0,0-2.5,0l-7,4a2.49,2.49,0,0,0-.76.72.46.46,0,0,0-.15.16.44.44,0,0,0-.07.19A2.59,2.59,0,0,0,0,6.5v8a2.5,2.5,0,0,0,1.25,2.16l7,4a2.4,2.4,0,0,0,.93.29.46.46,0,0,0,.64,0,2.4,2.4,0,0,0,.93-.29l7-4A2.5,2.5,0,0,0,19,14.5h0v-8A2.59,2.59,0,0,0,18.73,5.4Zm-10-4.2a1.51,1.51,0,0,1,1.5,0l7,4a1.24,1.24,0,0,1,.18.14L9.5,9.93,1.57,5.34a1.24,1.24,0,0,1,.18-.14Zm-7,14.6A1.52,1.52,0,0,1,1,14.5v-8a1.55,1.55,0,0,1,0-.31L9,10.8v9.1a1.12,1.12,0,0,1-.25-.11ZM18,14.5a1.49,1.49,0,0,1-.75,1.29l-7,4a1.36,1.36,0,0,1-.25.11V10.8l8-4.61a1.55,1.55,0,0,1,0,.31Z"></path></svg>
                                </span>
                                Upgrade
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="px-40">
        <div class="flex flex-wrap items-center lg:justify-between -mx-16 py-16 border-grey-400-opacity-60">
            <ul>
                <li class="mt-24" data-controller="sidebar-item">
                    <a class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100" href="/profile">
                        <span class="flex items-center text-grey-1100 c-white">
                            <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-users"><path
                                        d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7"
                                                                                                     r="4"></circle><path
                                        d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path
                                        d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            </span>
                            Profile
                        </span>
                    </a>
                </li>

                <li class="mt-24" sw-action="settings-open" data-controller="sidebar-item">
                    <span class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100">
                        <span class="flex items-center text-grey-1100 c-white">
                            <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16"
                                                                                               height="16" rx="2"
                                                                                               ry="2"></rect><rect x="9"
                                                                                                                   y="9"
                                                                                                                   width="6"
                                                                                                                   height="6"></rect><line
                                        x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line
                                        x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15"
                                                                                   y2="23"></line><line x1="20" y1="9"
                                                                                                        x2="23"
                                                                                                        y2="9"></line><line
                                        x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line
                                        x1="1" y1="14" x2="4" y2="14"></line></svg>
                            </span>
                            Settings
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="px-40">
        <div class="flex flex-wrap items-center lg:justify-between -mx-16 py-16 border-grey-400-opacity-60 border-solid border-t">
            <a class="block mx-16 py-8 text-sm text-grey-700 hover:text-grey-800 transition-fast-out c-white trigger-btn"
               href="/logout">LogOut</a>
            <a class="block mx-16 py-8 text-sm text-grey-700 hover:text-grey-800 transition-fast-out c-white"
               href="/client-home">Dashboard</a>
        </div>
    </div>
    <small data-target="#myModal" data-toggle="modal"></small>
    <button sw-data="close-main-menu" style="margin: 14px -4px" sw-trigger="close" class="flex absolute lg:hidden items-center top-0 right-0 mt-48 mr-40 text-grey-700-opacity-90
        hover:text-grey-700 fill-current transition-fast-out focus:outline-none focus:shadow-outline"
            data-action="click-&gt;app#toggleSidebar">
        <span class="flex items-center h-16 w-16 mr-16 flex-grow-0 flex-shrink-0 c-white">
            <svg class="block h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                <path d="M8.41,7l5.3-5.29A1,1,0,1,0,12.29.29L7,5.59,1.71.29A1,1,0,0,0,.29,1.71L5.59,7,.29,12.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L7,8.41l5.29,5.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path>
            </svg>
        </span>
        <span class="block flex-grow-0 flex-shrink-0 mt-2 font-sans-alt text-base leading-none c-white"></span>
    </button>
</aside>