<aside class="fixed top-0 flex-shrink-0 leading-tight rem-w15 xl:d-flex lg:flex-col z-100 h-screen w-full hidden bg-two">
    <div class="xl:d-block h-72 flex-grow-0 flex-shrink-0 hidden"></div>
    <!--Sider Bar-->
    <div class="flex-grow w-inherit h-full">
        <div class="h-72">
            <div class="px-40 pt-40">
                <ul>
                    <li class="mt-24">
                        <a class="flex items-center hover:text-nebula-600 text-grey-1100" data-active="false"
                           href="/client-home">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 17">
                                        <path d="M14.81,5.71l-7-5.6a.48.48,0,0,0-.62,0l-7,5.6A.49.49,0,0,0,0,6.1v8.8A2.08,2.08,0,0,0,2.06,17H12.94A2.08,2.08,0,0,0,15,14.9V6.1A.49.49,0,0,0,14.81,5.71ZM9.33,16H5.67V9H9.33ZM14,14.9A1.08,1.08,0,0,1,12.94,16H10.33V8.5a.5.5,0,0,0-.5-.5H5.17a.5.5,0,0,0-.5.5V16H2.06A1.08,1.08,0,0,1,1,14.9V6.34l6.5-5.2L14,6.34Z"></path>
                                    </svg>
                                </span>
                                Home
                            </span>
                        </a>
                    </li>

                    <li class="mt-24">
                        <a class="flex items-center hover:text-nebula-600 text-grey-1100" data-active="false"
                           href="/glossary">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path
                                            d="M10.5,0A10.5,10.5,0,1,0,21,10.5,10.51,10.51,0,0,0,10.5,0Zm0,20A9.5,9.5,0,1,1,20,10.5,9.51,9.51,0,0,1,10.5,20Z"></path><path
                                            d="M11.58,5.19A3.51,3.51,0,0,0,7.12,7.33a.48.48,0,0,0,0,.39A.49.49,0,0,0,7.42,8a.48.48,0,0,0,.39,0,.49.49,0,0,0,.25-.28A2.5,2.5,0,0,1,10.42,6a2.37,2.37,0,0,1,.83.14A2.5,2.5,0,0,1,12.92,8.5c0,1.61-2.63,2.52-2.66,2.52a.51.51,0,0,0-.31.64.5.5,0,0,0,.63.31c.34-.11,3.34-1.17,3.34-3.47A3.53,3.53,0,0,0,11.58,5.19Z"></path><path
                                            d="M10.84,15.12a.57.57,0,0,0-.7,0,.51.51,0,0,0-.09.16.42.42,0,0,0-.05.2.52.52,0,0,0,.14.36.55.55,0,0,0,.72,0,1.28,1.28,0,0,0,.1-.17.47.47,0,0,0,0-.38A.76.76,0,0,0,10.84,15.12Z"></path></svg>
                                </span>
                                Glossary
                            </span>
                        </a>
                    </li>

                    <li class="mt-24">
                        <a class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100" href="/upgrade">
                            <span class="flex items-center text-grey-1100 c-white">
                                <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                    <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 21.08"><path
                                            d="M18.73,5.4a.44.44,0,0,0-.07-.19.46.46,0,0,0-.15-.16,2.49,2.49,0,0,0-.76-.72l-7-4a2.53,2.53,0,0,0-2.5,0l-7,4a2.49,2.49,0,0,0-.76.72.46.46,0,0,0-.15.16.44.44,0,0,0-.07.19A2.59,2.59,0,0,0,0,6.5v8a2.5,2.5,0,0,0,1.25,2.16l7,4a2.4,2.4,0,0,0,.93.29.46.46,0,0,0,.64,0,2.4,2.4,0,0,0,.93-.29l7-4A2.5,2.5,0,0,0,19,14.5h0v-8A2.59,2.59,0,0,0,18.73,5.4Zm-10-4.2a1.51,1.51,0,0,1,1.5,0l7,4a1.24,1.24,0,0,1,.18.14L9.5,9.93,1.57,5.34a1.24,1.24,0,0,1,.18-.14Zm-7,14.6A1.52,1.52,0,0,1,1,14.5v-8a1.55,1.55,0,0,1,0-.31L9,10.8v9.1a1.12,1.12,0,0,1-.25-.11ZM18,14.5a1.49,1.49,0,0,1-.75,1.29l-7,4a1.36,1.36,0,0,1-.25.11V10.8l8-4.61a1.55,1.55,0,0,1,0,.31Z"></path></svg>
                                </span>
                                Upgrade
                            </span>
                        </a>
                    </li>

                    <ul class="mt-8 script-feature-menu leading-normal text-grey-700 overflow-y-auto" sw-data="select"
                        style="height:23rem">
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-main" sw-data="option" sw-display="hello-drop">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M13.744 8s1.522-8-3.335-8h-8.409v24h20v-13c0-3.419-5.247-3.745-8.256-3zm4.256 11h-12v-1h12v1zm0-3h-12v-1h12v1zm0-3h-12v-1h12v1zm-3.432-12.925c2.202 1.174 5.938 4.883 7.432 6.881-1.286-.9-4.044-1.657-6.091-1.179.222-1.468-.185-4.534-1.341-5.702z"/></svg>
                                </span>
                                <span class="fix-intxt1">Script</span>
                                <span class="fot-r" sw-display="menu-hello" xclass="rotate-270">
                                    <svg class="size16 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 14 8" style="margin-top: 7px"><path
                                            d="M7,8a1,1,0,0,1-.71-.29l-6-6A1,1,0,0,1,1.71.29L7,5.59,12.29.29a1,1,0,1,1,1.42,1.42l-6,6A1,1,0,0,1,7,8Z"></path></svg>
                                </span>
                            </div>

                            <ul class="mt-8 ml-40 hidden" sw-display="menu-hi" sw-draft="list">
                                <li class="mt-8 flex space-between" sw-draft="item">
                                    <span sw-draft="item-text">Draft 1</span>
                                    <span class="row hide" sw-draft="item-buttons" style="margin-top: 4px;">
                                        <svg sw-draft="item-add" class="mr-4 size16"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                                d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path></svg>
                                        <svg sw-draft="item-delete" class="mr-16 size16"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                                d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg>
                                    </span>
                                </li>
                            </ul>

                        </li>

                        {% if SubscriptionType == 'pro' %}
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-outline" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M4 22h-4v-4h4v4zm0-12h-4v4h4v-4zm0-8h-4v4h4v-4zm3 0v4h17v-4h-17zm0 12h17v-4h-17v4zm0 8h17v-4h-17v4z"/></svg>
                                </span>
                                <span class="fix-intxt1">Outline</span>
                            </div>
                        </li>
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-pinBoard" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M6.166 16.943l1.4 1.4-4.622 4.657h-2.944l6.166-6.057zm11.768-6.012c2.322-2.322 4.482-.457 6.066-1.931l-8-8c-1.474 1.584.142 3.494-2.18 5.817-3.016 3.016-4.861-.625-10.228 4.742l9.6 9.6c5.367-5.367 1.725-7.211 4.742-10.228z"/></svg>
                                </span>
                                <span class="fix-intxt1">Pin Board</span>
                            </div>
                        </li>
                        {% endif %}

                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-character" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M10.118 16.064c2.293-.529 4.428-.993 3.394-2.945-3.146-5.942-.834-9.119 2.488-9.119 3.388 0 5.644 3.299 2.488 9.119-1.065 1.964 1.149 2.427 3.394 2.945 1.986.459 2.118 1.43 2.118 3.111l-.003.825h-15.994c0-2.196-.176-3.407 2.115-3.936zm-10.116 3.936h6.001c-.028-6.542 2.995-3.697 2.995-8.901 0-2.009-1.311-3.099-2.998-3.099-2.492 0-4.226 2.383-1.866 6.839.775 1.464-.825 1.812-2.545 2.209-1.49.344-1.589 1.072-1.589 2.333l.002.619z"/></svg>
                                </span>
                                <span class="fix-intxt1">Characters</span>
                            </div>
                        </li>
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-location" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M12 0c-4.198 0-8 3.403-8 7.602 0 6.243 6.377 6.903 8 16.398 1.623-9.495 8-10.155 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.342-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg>
                                </span>
                                <span class="fix-intxt1">Location</span>
                            </div>
                        </li>
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-structure" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M14.172 7.396l1.413-1.39 1.414 1.414-1.414 1.39-1.413-1.414zm2.828 16.604h6v-13h-6v13zm-.559-18.834l1.414 1.414 1.435-1.41-1.415-1.415-1.434 1.411zm.591-3.951l4.771 4.771 1.197-5.986-5.968 1.215zm-8.032 22.785h6v-9h-6v9zm-8 0h6v-6h-6v6zm13.729-14.349l-1.414-1.414-1.45 1.425-3-3.002-7.841 7.797 1.41 1.418 6.427-6.39 2.991 2.993 2.877-2.827z"/></svg>
                                </span>
                                <span class="fix-intxt1">Structure</span>
                            </div>
                        </li>
                        <li class="mt-16 mb-16 cus-pointer" sw-btn="page-storyDocs" sw-data="option">
                            <div class="text-grey-700">
                                <span class="mr-16 fot-l">
                                    <svg class="size24 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 24 24"><path
                                            d="M13.744 8s1.522-8-3.335-8h-8.409v24h20v-13c0-3.419-5.247-3.745-8.256-3zm4.256 11h-12v-1h12v1zm0-3h-12v-1h12v1zm0-3h-12v-1h12v1zm-3.432-12.925c2.202 1.174 5.938 4.883 7.432 6.881-1.286-.9-4.044-1.657-6.091-1.179.222-1.468-.185-4.534-1.341-5.702z"/></svg>
                                </span>
                                <span class="fix-intxt1">Story Docs</span>
                            </div>
                        </li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>

    <div class="px-40">
        <div class="flex flex-wrap items-center lg:justify-between -mx-16 border-grey-400-opacity-60">
            <ul>
                <li class="mt-24" data-action="click-&gt;sidebar-item#toggle" data-controller="sidebar-item">
                    <a class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100" href="/profile">
                        <span class="flex items-center text-grey-1100 c-white">
                            <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                <svg class="feather feather-users size24" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round"><path
                                        d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7"
                                                                                                     r="4"></circle><path
                                        d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path
                                        d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            </span>
                            Profile
                        </span>
                    </a>
                </li>

                <li class="mt-24" sw-action="settings-open" data-action="click-&gt;sidebar-item#toggle"
                    data-controller="sidebar-item">
                    <span class="mb-16 flex items-center capitalize cursor-pointer text-grey-1100">
                        <span class="flex items-center text-grey-1100 c-white">
                            <span class="flex w-16 h-16 mr-24 items-center justify-center fill-current">
                                <svg class="feather feather-users size24" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round"><rect x="4" y="4" width="16"
                                                                                          height="16" rx="2"
                                                                                          ry="2"></rect><rect x="9"
                                                                                                              y="9"
                                                                                                              width="6"
                                                                                                              height="6"></rect><line
                                        x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line
                                        x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15"
                                                                                   y2="23"></line><line x1="20" y1="9"
                                                                                                        x2="23"
                                                                                                        y2="9"></line><line
                                        x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line
                                        x1="1" y1="14" x2="4" y2="14"></line></svg>
                            </span>
                            Settings
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="px-40">
        <div class="flex flex-wrap items-center lg:justify-between -mx-16 border-grey-400-opacity-60 border-solid border-t">
            <a class="block mx-16 py-8 text-sm text-grey-700 hover:text-grey-800 transition-fast-out c-white trigger-btn"
               href="/logout">LogOut</a>
<!--            <a class="block mx-16 py-8 text-sm text-grey-700 hover:text-grey-800 transition-fast-out c-white"-->
<!--               href="/client-home">Dashboard</a>-->
        </div>
    </div>
    <small data-target="#myModal" data-toggle="modal"></small>
    <button sw-data="close-main-menu" style="margin: 14px -4px" sw-trigger="close" class="flex absolute items-center top-0 right-0 mt-48 mr-40
        text-grey-700-opacity-90 fill-current transition-fast-out">
        <span class="flex items-center h-16 w-16 mr-16 flex-grow-0 flex-shrink-0 c-white">
            <svg class="block h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                <path d="M8.41,7l5.3-5.29A1,1,0,1,0,12.29.29L7,5.59,1.71.29A1,1,0,0,0,.29,1.71L5.59,7,.29,12.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L7,8.41l5.29,5.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path>
            </svg>
        </span>
        <span class="block flex-grow-0 flex-shrink-0 mt-2 font-sans-alt text-base leading-none c-white"></span>
    </button>

</aside>