<!DOCTYPE html>
<html>
    <head>
        <title>Forget Password - Scriptovate</title>
        {% include 'page-head.html' %}
    </head>

    <body>
        <div class="stl-flex" id="wrapper">
            <section class="stl-w-full stl-flex stl-justify-center stl-min-h-screen stl-p-6 stl-bg-grey-50" style="background:var(--bg-1); color: #fff;">
                <div class="stl-w-128 stl-flex stl-flex-col stl-justify-center stl-items-center stl-relative">
                    <a class="stl-mb-12 logo-text" href="/" > Scriptovate
                        <!-- class="stl-h-10 stl-my-10" src="lo.png">  -->
                        <!-- <img height="30" class="stl-h-10 stl-my-10" src="affa79a54.svg"> -->
                    </a>

                    <h1 class="stl-display-large stl-mb-6 stl-w-full stl-flex stl-items-center stl-justify-between ">Recover your account</h1>
                    
                    <div class="stl-w-full">
                        <form class="simple_form Bizible-Exclude" id="new_user"  action="#" method="post">
                            <div class="stl-mb-4">
                                <label class="stl-display-body">Forgot your password? <br>No problem, let help you recover access to your account.</label>
                            </div>

                            <div class="form-group email optional user_email stl-mb-6">
                                <div class="input-group">
                                    <input class="string email required stl-input stl-input-large stl-px-4 stl-w-full stl-mb-4 c-black" 
                                        required="required" aria-required="true" placeholder="Email" type="email" 
                                    name="user[email]" id="user_email">
                                </div>
                            </div>

                            <button name="button" type="submit" 
                                class="stl-btn stl-btn-neutral stl-flex stl-justify-center stl-items-center stl-px-4 
                                stl-typo-display-body stl-h-10 stl-block stl-w-full stl-btn-primary submit-button">
                                Submit
                            </button>

                        </form>
                        
                        <!-- <div class="stl-flex stl-items-center stl-my-10">
                            <hr class="stl-border-t stl-flex-grow stl-border-grey-100">
                            <p class="stl-typo-display-body stl-mx-3 stl-text-grey-400">Or log in with</p>
                            <hr class="stl-border-t stl-flex-grow stl-border-grey-100">
                        </div> -->
                    </div>
                </div>
            </section>
        </div>

</body>
</html> 