<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../cdn/dashboard/css/main-85223400.css" rel="stylesheet">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<meta content="#ffffff" name="msapplication-TileColor">
<meta content="#ffffff" name="theme-color">
<!--<link href="img.ico" rel="shortcut icon">-->
<link href="../../cdn/dashboard/css/extension.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="../../cdn/css/custom.css">
<link rel="stylesheet" media="screen" href="../../cdn/css/character.css">
<link rel="stylesheet" media="screen" href="../../cdn/css/styles.css">
<script src="/cdn/js/dnd.js"></script>