<header class="top-0 lg:z-40 z-20 w-full font-sans-alt" sw-header="header3" data-controller="header">
    <div class="flex">
        <!--header logo-->
        <div class="header-logo flex-shrink-0 pt-8 px-40 xl:d-block hidden rem-w15 bg-two">
            <a class="block h-24 logo-text-xxl c-white" href="/client-home">
                Scriptovate
            </a>
        </div>

        <!--Navigation Bar-->
        <nav class="header-nav z-30 flex flex-grow justify-between items-center px-16 lg:h-auto h-72">
            <div class="flex xl:d-hidden">
                <div xclass="h-24 w-24 mr-24 ml-8 md:ml-40">
                    <!--header logo for mobile -->
                    <a class="block h-full w-full text-nebula-500 fill-current" href="/client-home">
                        <!--Image or icon logo-->
                    </a>
                </div>

                <button class="flex items-center mr-8 text-grey-1000 hover:text-grey-1000 fill-current focus:outline-none focus:shadow-outline" sw-trigger="open">
                    <div class="flex items-center h-24 w-32 mr-8 p-2 flex-grow-0 flex-shrink-0">
                        <svg class="h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
                            <path d="M19,8H1A1,1,0,0,1,1,6H19a1,1,0,0,1,0,2Z"></path>
                            <path d="M19,2H1A1,1,0,0,1,1,0H19a1,1,0,0,1,0,2Z"></path>
                            <path d="M19,14H1a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z"></path>
                        </svg>
                    </div>
                    {% comment %} <span class="block flex-grow-0 flex-shrink-0 text-sm uppercase text-grey-700">Menu</span> {% endcomment %}
                </button>
            </div>
        </nav>
    </div>
</header>