<style>
    /* Loading css */
    div[sw-loading="off"] {display: none!important;}
    div[sw-loading="on"] {display: initial!important;}
</style>
<div class="m_g_8c4ed text-white hide" sw-loading="onn" style="background-color: rgb(63 70 70 / 96%);">
    <div class="m_g_9e032 ">
        <div class="col-12 col-6-md mlmr-auto font-sans-alt font-semibold c-white fw-300 p-8">
            <div class="col-12">
                <img class="white-image hide" src="../../cdn/image/dark-loading.gif" alt="Loading">
                <img class="black-image" src="../../cdn/image/dark-loading.gif" alt="Loading">
                <div class="col bold ft-size20 flex-cnt pt-16 pb-32" sw-loading-text>Loading ...</div>
            </div>
        </div>
    </div>
</div>