<style>
    /* Loading css */
    div[sw-loading-sider="off"] {display: none!important;}
    div[sw-loading-sider="on"] {display: initial!important;}
</style>
<div class="m_g_8c4ed text-white" sw-loading-sider="on" 
style="background-color: rgb(63 70 70 / 96%);height: 70vh; width: 100%; position: absolute; padding: 0px; top: 70px;">
    <div class="m_g_9e032 ">
        <div class="col-12 mlmr-auto font-sans-alt font-semibold c-white fw-300 p-8">
            
            <div class="col-12">
                <img class="" src="../../cdn/image/loading-dark.gif" alt="Loading">                                            
                <div class="col bold ft-size20 flex-cnt pt-16 pb-32" sw-loading-sider-text>Settings</div>
            </div>
        </div>
    </div>
</div>