<style>
    /* Loading css */
    div[sw-loading="off"] {display: none!important;}
    div[sw-loading="on"] {display: initial!important;}
</style>
<div class="m_g_8c4ed text-white" sw-loading="on" style="background-color: rgb(63 70 70 / 96%);">
    <div class="m_g_9e032 ">
        <div class="col-12 col-6-md mlmr-auto font-sans-alt font-semibold c-white fw-300 p-8">
            <!-- <span class="m_g_29dee cus-pointer" sw-action="close-settings">
                <svg xmlns="http://www.w3.org/2000/svg" class="size20" viewBox="0 0 24 24"><path fill="gray" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
            </span> -->
            <div class="col-12">
                <img class="white-image hide" src="../../cdn/image/dark-loading.gif" alt="Loading">
                <img class="black-image" src="../../cdn/image/dark-loading.gif" alt="Loading">
                                            
                <div class="col bold ft-size20 flex-cnt pt-16 pb-32" sw-loading-text>Loading ...</div>

            </div>
        </div>
    </div>
</div>