	<!-- Meta Information -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="shortcut icon" type="image/png" href="/favicon.png"/>-->
	
	<!--<meta name="theme-color" content="#1f2251">-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% if name and invitetitle %}
	<link rel="stylesheet" media="screen" href="../../cdn/css/styles.css">
    <link rel="stylesheet" media="screen" href="../../cdn/css/custom.css">
    <link href="../../cdn/css/fonts.css" media="all" onload="this.media='all'" rel="stylesheet">
	{% else %}
	<link rel="stylesheet" media="screen" href="../cdn/css/styles.css">
    <link rel="stylesheet" media="screen" href="../cdn/css/custom.css">
    <link href="../cdn/css/fonts.css" media="all" onload="this.media='all'" rel="stylesheet">
	{% endif %}
