<!DOCTYPE html>
<html>
<title>Signup - Scriptovate</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" media="screen" href="../../cdn/css/reg.css">
<body style="background-image: url('../cdn/image/reg.png'); background-repeat: no-repeat; background-size: 100%">

<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false"
     style="background: RGB(116, 206, 182, 0.5);">
    <form id="new_user" action="/signup" method="post">
            <div class="float-right log">
                <button type="button" class=""><a href="/login" style="opacity: 1.0">Have you Account?</a></button>
            </div>
            {% csrf_token %}
            <div class="{{err.1}}" style="{{err.2}}">{{err.0}}</div>
            <div><h3 style="font-weight: 700;">Sign Up</h3></div>
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <div style="display: flex">
                    <div class="col-6" style="width: 50%; padding:5px">
                        <input autofocus="autofocus" type="text" placeholder="First Name" class="form-control"
                               name="firstname">
                    </div>
                    <div style="width: 50%; padding:5px">
                        <input autofocus="autofocus" type="text" placeholder="Last Name" class="form-control"
                               name="lastname">
                    </div>
                </div>
                <div style="display: flex">
                    <div class="col-6" style="width: 50%; padding:5px">
                        <input autofocus="autofocus" type="email" placeholder="Email"
                               pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                               class="form-control" name="email" required/>
                    </div>
                    <div style="width: 50%; padding:5px">
                        <input autofocus="autofocus" type="password" placeholder="Password" class="form-control"
                               name="password" required/>
                    </div>
                </div>
            </div>
            <div class="tab">
                <h2 class="text-center mb-10">What is your <span class="font-semibold">experience</span> in
                    screenwriting
                </h2>
                <div class="flex justify-center">
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <input type="radio" id="begginer" name="experience" value="beginner"
                                   class="hidden radio-check"/>
                            <label for="begginer"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Begginer</label>
                        </div>
                        <p class="text-emerald-700">0-4 scripts</p>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <input type="radio" id="intermediate" name="experience" value="intermediate"
                                   class="hidden radio-check"/>
                            <label for="intermediate"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Intermediate</label>
                        </div>
                        <p class="text-emerald-700">5-10 scripts</p>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <input type="radio" id="advanced" name="experience" value="advanced"
                                   class="hidden radio-check"/>
                            <label for="advanced"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Advanced</label>
                        </div>
                        <p class="text-emerald-700">11+ scripts</p>
                    </div>
                </div>
            </div>
            <div class="tab">
                <h2 class="text-center mb-10"><span class="font-semibold">Where</span> is your plan to write</h2>
                <div class="flex justify-center">
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <p class="fa fa-laptop" style="font-size: 80px; color: aquamarine"></p>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="computer" name="write" value="computer" class="hidden radio-check"/>
                            <label for="computer"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Computer</label>
                        </div>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <p class="fa fa-tablet" style="font-size: 80px; color: aquamarine"></p>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="tablet" name="write" value="tablet" class="hidden radio-check"/>
                            <label for="tablet"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Tablet</label>
                        </div>
                    </div>
                    <div class="flex flex-col items-center p-5">
                        <div class="flex items-center">
                            <p class="fa fa-mobile" style="font-size: 80px; color: aquamarine"></p>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" id="phone" name="write" value="phone" class="hidden radio-check"/>
                            <label for="phone"
                                   class="change-bg bg-emerald-100 px-10 py-2 ml-3 rounded-full text-emerald-700 font-semibold cursor-pointer">Phone</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="overflow:auto;">
                <div style="float:right; margin-right:5px">
                    <button class="px-10 py-2 bg-gray-500 text-white reg-button" type="button" id="prevBtn"
                            onclick="nextPrev(-1)">Previous
                    </button>
                    <button class="px-10 py-2 bg-emerald-500 text-white reg-button" type="button" id="nextBtn"
                            onclick="nextPrev(1)">Next
                    </button>
                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" disabled="">
            <input type="hidden" name="page" value="registerpage">
    </form>
</div>
<script src="../../cdn/js/registration.js"></script>
<script>
    $(document).ready(function () {
        $('#myModal').modal('show');
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>
</body>
</html>