<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Script Work</title>
        {% include 'head.html' %}
    </head>

    <body class="relative bg-x-gradient-grey-200-grey-200-50-white-100" >
        <!-- Loading-->
        {% include 'loading.html'%}
        <div class="flex flex-col min-h-screen text-base font-sans">
            <!--============ Header =========-->
            {% include 'header-template1.html' %}
            {% include 'header-template2.html' %}
            {% include 'header-template3.html' %}

            <!--Settings-->
            {% include 'settings-template.html'%}
            <div classy="flex-1 mx-auto w-full" xclass="max-w-1440 ">
                <div classy="flex h-full">

                    <!--Sider Bar At left side (with features list)-->
                    {% include 'aside-template1.html' %}

                    <div class="xl:rem-ml-15 xl:rem-mr-15 overflow-x-hidden bg-four" sw-page="main">
                        <div class="row md:px-24 md:pb-24">
                            <!--============MAIN BODY=========-->
                            <main class="col mxx-8 min-h-full" xclass="lg:max-w-648">
                                <div class="text-grey-1000 leading-normal">
                                    
                                    <!--Title of the script content-->
                                    <div class="flex-cnt input w80to100 relative mlmr-auto mt-16">
                                        <div class="p-8 ft-size20 bg-three shadow hover:shadow-md 
                                            transition-fast-out overflow-hidden title-input" sw-data-type="title" 
                                            contenteditable="true" style="min-height: 2rem; text-align: center; width: 210mm;
                                            margin-left: 0.5em; margin-right: 1em;" 
                                            data-placeholder="Script Title"></div>
                                    </div>

                                    <!--Editor -For writing and preparing script goes here-->
                                    <div class="mt-8 mb-48">
                                        <div class="doping relative mlmr-auto relative">
                                            <div class="doping flex w80to100 mlmr-auto relative" sw-element-anywhere="wrap">
                                                <div class="absolute" sw-page-number="item" style="z-index: 500;" contenteditable="false">1.</div>
                                                <div class="absolute hide" sw-icon='left' style="z-index: 500;" contenteditable="false">
                                                    <svg class="tip-icon-size24to" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007zm0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007zm-5 7.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/>
                                                    </svg>
                                                </div>
                                                <div class="absolute hide" sw-icon='right' style="z-index: 500;" contenteditable="false">
                                                    <svg class="tip-icon-size24to" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                        <path d="M19 6.734c0 4.164-3.75 6.98-3.75 10.266h-1.992c.001-2.079.997-3.826 1.968-5.513.912-1.585 1.774-3.083 1.774-4.753 0-3.108-2.517-4.734-5.004-4.734-2.483 0-4.996 1.626-4.996 4.734 0 1.67.862 3.168 1.774 4.753.971 1.687 1.966 3.434 1.967 5.513h-1.991c0-3.286-3.75-6.103-3.75-10.266 0-4.343 3.498-6.734 6.996-6.734 3.502 0 7.004 2.394 7.004 6.734zm-4 11.766c0 .276-.224.5-.5.5h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5zm0 2c0 .276-.224.5-.5.5h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5zm-1.701 3.159c-.19.216-.465.341-.753.341h-1.093c-.288 0-.562-.125-.752-.341l-1.451-1.659h5.5l-1.451 1.659zm-2.182-11.123l3.633-5.536h-2.113l1.05-3.463-3.794 5.463h2.302l-1.078 3.536z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            
                                            <div class="input flex-wrap-center w80to100 relative mlmr-auto" sw-editor="list" sw-search="wrapper" contenteditable="true">
                                                <div sw-editor="item" class="page bg-three py-48 ft-initial shadow hover:shadow-md  transition-fast-out overflow-hidden"> 
                                                    <div class="action-type input" sw-editor-type="action" tabindex="1" sw-editor-color=""
                                                        sw-editor-id="00" contenteditable="true"><br></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 

                                    <!--Footer goes here-->  
                                </div>
                            </main>

                            <!--Starting of new Right Bar here-->
                            {% include 'newproject-right-sider.html' %}
                            <!--End of new Right Bar here-->
                        </div>
                    </div>
                    <!--Page for Character-->
                    {% include 'sw-page/character.html' %}
                    <!--Page for loaction-->
                    {% include 'sw-page/location.html' %}

                    {% if accountType == 'pro' %}
                        <!--Page for outline-->
                        {% include 'sw-page/outline.html' %}
                        <!--Page for pin-board-->
                        {% include 'sw-page/pin-board.html' %}
                    {% endif %}
                    
                    <!--Page for story-docs-->
                    {% include 'sw-page/story-docs.html' %}
                    <!--Page for structure-->
                    {% include 'sw-page/structure.html' %}
                    
                </div>
            </div>
            

        {% if ScriptContent %}
            <script>
                window.ScriptDataStore = {{ScriptContent|safe}};
            </script>
        {% endif %}
        
        <script src="../../cdn/js/app.js"></script>
        <script src="../../cdn/js/BackgroundColor.js"></script>
        <script src="../../cdn/js/CharacterHandle.js"></script>
        <script src="../../cdn/js/NoteHandle.js"></script>
        {% if accountType == 'pro' %}
        <script src="../../cdn/js/CardOption.js"></script>
        <script src="../../cdn/js/PinBoard.js"></script>
        <script src="../../cdn/js/OutlineHandle.js"></script>
        {% endif %}
        <script src="../../cdn/js/Watcher.js"></script>
        <script src="../../cdn/js/EditorFunction.js"></script>
        <script src="../../cdn/js/ScriptWriterPage.js"></script>
        <script src="../../cdn/js/ScriptWriterSection.js"></script>
        <script src="../../cdn/js/MapAndReactOnContent.js"></script>
        <script src="../../cdn/js/SearchDocument.js"></script>
        <script src="../../cdn/js/EditorMode.js"></script>
        <script src="../../cdn/js/EditorWriter.js"></script>
        <script src="../../cdn/js/ScriptAdapter.js"></script>
    </body>
</html>