<!DOCTYPE html>
<html>
    <head>
        <title>Signup - Scriptovate</title>
        {% include 'page-head.html' %}
    </head>

    <body>
        <div class="stl-flex" id="wrapper">
            <section class="stl-w-full stl-flex stl-justify-center stl-min-h-screen stl-p-6 stl-bg-grey-50" style="background:var(--bg-2); color: #fff;font-family: Open Sans;">
                <div class="stl-w-128 stl-flex stl-flex-col stl-justify-center stl-items-center stl-relative">
                    <a class="stl-mb-12 logo-text c-white" href="/"> Scriptovate
                        <!--<img height="40"  src="lo.png" >--><!-- class="stl-h-10 stl-my-10" src="lo.png">  -->
                    </a>
                    <h1 class="stl-display-large stl-mb-6 stl-w-full stl-flex stl-items-center stl-justify-between">
                        Sign Up<a class="stl-display-subheading stl-uppercase c-white" href="/login">login</a>
                    </h1>

                    <div class="stl-w-full">
                        <form class="simple_form Bizible-Exclude" id="new_user" action="/signup" method="post">
                            {% csrf_token %}
                            <div class="{{err.1}}" style="{{err.2}}">{{err.0}}</div>
                            <div class="form-group username optional first_name">
                                <div class="input-group">
                                    <input autofocus="autofocus" 
                                        class="string username required stl-input stl-input-large stl-px-4 stl-w-full stl-mb-2 c-black" 
                                        required="required" aria-required="true" placeholder="Firstname" type="Firstname" name="firstname">
                                </div>
                            </div>

                            <div class="form-group username optional last_name">
                                <div class="input-group">
                                    <input autofocus="autofocus" 
                                        class="string username required stl-input stl-input-large stl-px-4 stl-w-full stl-mb-4 c-black" 
                                        required="required" aria-required="true" placeholder="Lastname" type="Lastname" name="lastname">
                                </div>
                            </div>

                            <div class="form-group email optional user_email">
                                <div class="input-group">
                                    <input autofocus="autofocus" 
                                        class="string email required stl-input stl-input-large stl-px-4 stl-w-full stl-mb-4 c-black" 
                                        required="required" aria-required="true" placeholder="Email" type="email" name="email">
                                </div>
                            </div>

                            <div class="form-group password optional user_password">
                                <div class="input-group">
                                    <input class="password required stl-input stl-input-large stl-px-4 stl-w-full stl-mb-4 c-black" 
                                        required="required" aria-required="true" placeholder="Password" type="password" name="password">
                                </div>
                            </div>

                            <div class="stl-flex stl-justify-between stl-items-center stl-mb-6 stl-typo-subdued">
                                <div class="form-group boolean optional user_remember_me">
                                    <input value="0" type="hidden" name="user[remember_me]">
                                    <label class="c-white">
                                        <input class="form-control boolean optional" type="checkbox" value="1" name="remember_me">
                                        Remember me
                                    </label>
                                </div>
                                <small><a href="/forget-password" class="c-white">Forgot Password?</a></small>
                            </div>

                            <button name="button" type="submit" 
                                class="stl-btn stl-btn-neutral stl-flex stl-justify-center stl-items-center stl-px-4 
                                stl-typo-display-body stl-h-10 stl-block stl-w-full stl-btn-primary submit-button">
                                Sign Up
                            </button>
                            
                            <input type="hidden" name="csrfmiddlewaretoken" disabled="">
                            <input type="hidden" name="page" value="registerpage">
                        </form>

                        <!-- <div class="stl-flex stl-items-center stl-my-10">
                            <hr class="stl-border-t stl-flex-grow stl-border-grey-100">
                            <p class="stl-typo-display-body stl-mx-3 stl-text-grey-400">Or log in with</p>
                            <hr class="stl-border-t stl-flex-grow stl-border-grey-100">
                        </div> -->
                    </div>
                    
                </div>
            </section>
        </div>
    </body>
</html> 