<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Outline Page</title>
        <link href="../../cdn/dashboard/css/main-85223400.css" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <meta content="#ffffff" name="msapplication-TileColor">
        <meta content="#ffffff" name="theme-color">
        <!--<link href="img.ico" rel="shortcut icon">-->
        <link href="../../cdn/dashboard/css/extension.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="../../cdn/css/custom.css">

    </head>

    <body class="relative bg-x-gradient-grey-200-grey-200-50-white-100" data-controller="app">
        <div class="flex flex-col min-h-screen text-base font-sans">

            <!--============ Header =========-->
            {% include 'header-template3.html' %}

            <!--Settings-->
            {% include 'settings-template.html'%}

            <div class="flex-1 mx-auto w-full">
                <div class="flex h-full">

                    <!--Sider Bar At left side (with features list)-->
                    {% include 'aside-template1.html' %}

                    <div class="w-full lg:rem-ml-15 bg-four" sw-page="outline">
                        <div class="flex md:px-56">
                            <!--============MAIN BODY=========-->
                            <main class="w-full min-h-full">
                                <div class="mb-4 px-16 flex justify-between items-end">
                                    <div class="flex-rts">
                                        <div class="font-sans-alt font-semibold tracking-wide ft-size30">Project Outline</div>
                                    </div>

                                    <div class="flex-rts text-grey-500 ml-16">
                                        <svg class="size20 p-2 cus-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
                                        <svg class="size20 p-2 cus-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.658 3.786l-3.658 3.318v-1.104c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v10.707l-2 1.813 1.346 1.48 20.654-18.734-1.342-1.48zm-5.658 5.132l-1.194 1.082h-6.806v-4c0-2.205 1.795-4 4-4s4 1.795 4 4v2.918zm5 1.082v14h-16.391l15.422-14h.969z"/></svg>
                                    </div>
                                </div>

                                <!--All Out Lines goes here-->
                                <div class="my-24 text-grey-1000 leading-normal">
                                    <div class="col-12 row mxx-8">
                                        <div class="col-2">Scene No.</div>
                                        <div class="col-3">Title</div>
                                        <div class="col-4">Scene Goal</div>
                                        <div class="col-1 ml-4">Ev:</div>
                                        <div class="col-1">Pages</div>
                                    </div>
                                    <div class="doping">
                                        <label class="p-16 m-8 ft-size20 bold act-name">ACT 1</label>
                                        <div class="col-12 bg-green mx-8 my-8 pt-16 shadow hover:shadow-md transition-fast-out relative" sw-data="lines-option"> 
                                            <div class="col-12 row mxx-8 pb-8">
                                                <div class="col-2">1.</div>
                                                <div class="col-3 mr-8">EXT. JOHN AND MARY'S HOUSE - NIGHT</div>
                                                <div class="col-4">Take maters into her own hand. Tell joe to go and F himself, and then pulling
                                                    a gun on him. She runs back into her house to see what's going on.
                                                </div>
                                                <div class="col-1 ml-4">1</div>
                                                <div class="col-1">3</div>
                                            </div>
                                            <div class="col-12 px-8 my-8 py-16 bg-green-lit hidden" sw-data="lines-tag">
                                                <div class="col-7-lg pl-8 mlmr-auto">
                                                    <div class="col-10 bold py-2">EXT. JOHN AND MARY'S HOUSE - NIGHT</div>
                                                    <div class="col-10 py-2">An old car pulls up to the curb and a few KNOCKs as the engin shutdown.</div>
                                                    <div class="col-10 py-2">MIKE steps out of the car and walks up to the fronts door. 
                                                        He rings the doorbell.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-three z-50 menutype2 shadow" sw-data="menu-hi">
                                                <ul>
<!--                                                    <li class="flex py-2">                                                    -->
<!--                                                        <span><svg class="size13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007zm0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007zm-5 7.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/></svg></span>-->
<!--                                                    </li>-->
                                                    <li class="flex py-2">                                                    
                                                        <span><svg class="size13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z"/></svg></span>
                                                    </li>
                                                    <li class="flex py-2">                                                    
                                                        <span><svg class="size13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 19c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5-17v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712zm-3 4v16h-14v-16h-2v18h18v-18h-2z"/></svg></span>
                                                    </li>
                                                    <li class="flex py-2">                                                    
                                                        <span class="relative">
                                                            <svg class="size15 bg-yellow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                            <div class="row menutype3 z-100">
                                                                <svg class="size15 bg-blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                                <svg class="size15 bg-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                                <svg class="size15 bg-pink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                                <svg class="size15 bg-purple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                                <svg class="size15 bg-orange" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                                <svg class="size15 bg-yellow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12zm0 22c-5.519 0-10-4.48-10-10 0-5.519 4.481-10 10-10 5.52 0 10 4.481 10 10 0 5.52-4.48 10-10 10z"/></svg>
                                                            </div>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-12 bg-pink mx-8 my-8 pt-16 shadow hover:shadow-md transition-fast-out" sw-data="lines-option"> 
                                            <div class="col-12 row mxx-8 pb-8">
                                                <div class="col-2">2.</div>
                                                <div class="col-3 mr-8">EXT. TRAIN STATION - MORNING</div>
                                                <div class="col-4">To tell jerry that her diary has been stolen.</div>
                                                <div class="col-1 ml-4">3</div>
                                                <div class="col-1">1</div>
                                            </div>
                                            <div class="col-12 px-8 my-8 py-16 bg-green-lit hidden" sw-data="lines-tag">
                                                <div class="col-7-lg pl-8 mlmr-auto">
                                                    <div class="col-10 bold py-2">EXT. TRAIN STATION - MORNING</div>
                                                    <div class="col-10 py-2">An old car pulls up to the curb and a few KNOCKs as the engin shutdown.</div>
                                                    <div class="col-10 py-2">MIKE steps out of the car and walks up to the fronts door. 
                                                        He rings the doorbell.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <!--Footer ending-->
                                <footer class="mt-48 text-center text-grey-700 text-sm">
                                    <p>© Scriptovate - <a href="#" class="text-nebula-600 underline">Privacy Policy </a></p>
                                </footer>    
                            </main>

                            <!--============Right side bar=========-->
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <script src="../../cdn/js/app.js"></script>
        <script src="../../cdn/dashboard/js/vendors_index_support-2f9f0242.js"></script>
        <script src="../../cdn/dashboard/js/vendors_index-3afea548.js"></script>
        <script src="../../cdn/dashboard/js/index-319dcf23.js"></script>
    </body>
</html>